{% extends 'base.twig' %}

{% block content %}
<div class="content-wrapper">
	<h2>404</h2>
	<p>The content you are looking for may have moved or be located elsewhere.</p>
	<a class="" href="/">Home</a>
</div>
{% endblock %}