{# Block Name: Accordion Block #}
<section class="accordion-container">
	<span class="accordion-block-title target" role="button" aria-pressed="false" aria-label="Click to expand content.">{{ fields.accordion_title }}</span>
	<div class="accordion-content" role="region" aria-expanded="false">
		{{ fields.accordion_content }}
	</div>
</section>