* { box-sizing: border-box; }
html { font-size: 16px; } // 16px = 1rem (base font size)

html, body {
	// font antialiasing
	text-rendering: optimizeLegibility;
	line-height: 1.25;
	overflow-x: hidden;
	font-variant-numeric: lining-nums;
	font-feature-settings: "lnum" 1; // new standard for browsers
}

// sitewide placeholder text
::placeholder {
	color: $light-black;
	opacity: 0.8;
	font-style: italic;
	font-size: 1rem;
}

// base image setup
img {
	display: block;
	max-width: 100%;
	height: auto;
	border-style: none;
}

// unset standard button styles
button {
	background: unset;
	border: unset;
	&:hover { cursor: pointer; }
}

// core site wrapper (core site content wrapper)
.core-post-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

// default page content area
.content-block {
	max-width: 77rem;
	margin: 2rem auto 0;
	padding: 1rem;
}

.alignfull {
	margin: 1rem calc(50% - 50vw);
	max-width: 100vw;
	width: 100vw;
}